<div class="container-contact">
  <!-- Links -->
  <div class="links">
    <div>

      <div class="link">
        <a href="https://www.linkedin.com/in/maximo-tobias-unrrein/" target="_blank"  rel="noopener noreferrer">
          LinkedIn
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
             viewBox="0 0 24 24" class="icon">
          <path fill="currentColor" 
            d="M9 5v2h6.59L4 18.59L5.41 20L17 8.41V15h2V5z"/>
        </svg>
      </div>

      <div class="link">
        <!-- public/assets/cv/maximo-unrrein.pdf -->
        <a href="/assets/cv/maximo-unrrein.pdf" target="_blank" rel="noopener noreferrer">
          CV
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
             viewBox="0 0 24 24" class="icon">
          <path fill="currentColor" 
            d="M9 5v2h6.59L4 18.59L5.41 20L17 8.41V15h2V5z"/>
        </svg>
      </div>

      <div class="link">
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=maximounrrein@gmail.com&su=Contacto%20desde%20Portfolio&body=Hola%20Máximo,%20me%20interesa%20ponerme%20en%20contacto%20contigo." target="_blank"  rel="noopener noreferrer">
          Email
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
             viewBox="0 0 24 24" class="icon">
          <path fill="currentColor" 
            d="M9 5v2h6.59L4 18.59L5.41 20L17 8.41V15h2V5z"/>
        </svg>
      </div>
    </div>
  </div>

</div>
  <!-- Contact Form -->
<!-- <div class="form-position">
  <div class="form-wrapper">
    <form>
      <input type="text" id="subject" placeholder="tu@mail" />
      <input type="text" id="subject" placeholder="Asunto" />
      <textarea id="message" rows="4" placeholder="Mensaje..."></textarea>
      <button>Enviar</button>
    </form>
  </div>

</div> -->
  