<!-- Preloader -->
@if(isLoading){
  <div class="preloader">
    <div class="loader">
      <div class="loader-inner"></div>
      <div class="loader-inner"></div>
    </div>
    <div class="loader-text">CARGANDO RECURSOS</div>
    <div class="progress-bar">
      <div class="progress" [style.width.%]="progressValue"></div>
    </div>
  </div>
}

<div class="workspace" [class.hidden]="isLoading">
  <app-three-background></app-three-background> <!-- Fondo Three.js -->


  <div class="contents">
    <div class="title-and-buttons">
      <h1>Máximo Unrrein</h1>
      <h3>FullStack Developer & Consultor SAP</h3>
      <div class="buttons">
        <!-- Donde irán todos los botones [home - info - projects - contact ]-->
        <ul>
          <li><a routerLink="/home"
            routerLinkActive="btn-selected"
          >Home</a></li>
          <li><a routerLink="/about-me"
            routerLinkActive="btn-selected"
          >About me</a></li>
          <li><a routerLink="/technologies"
            routerLinkActive="btn-selected"
          >Technologies</a></li>
          <li><a routerLink="/projects"
            routerLinkActive="btn-selected"
          >Projects</a></li>
          <li><a routerLink="/contact"
            routerLinkActive="btn-selected"
          >Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="pages">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>