.container-home{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

p{
  width: 100%;
  display: block;
  padding: 80px;
  font-family: 'agdasima';
  font-size: 21.5px;
}

@media (max-width: 720px) {
  p{
    padding: 40px 30px;
  }
}